#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 48px 40px;
  text-decoration: none;
  font-size: 17px;
}
#navbar h1{
	float: right;
	margin-right:40px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: black;
  color: white;
}

.content {
  padding: 18px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height:18%;
}

.sticky + .content {
  padding-top: 60px;
}
h4{
	padding-top:90px;
	padding-left:50px;
	padding-right:30px;
}
html{
	width:100%;
	height:100%;
}
body {
	width:100%;
	height:220%;
	margin: 0%;
	background-color:#add8e6;
}
article{
	width:80%;
	height:80%;
	margin-left:10%;
	background-color:white;
}
nav {
	width: 100%;
	height: 10%;
	background-color:black;
}
footer{
	background-color:black;
	height:11%;
	margin-left:10%;
	width:80%;
}
a{
	color:white;
	padding-left:50px;
	font-size:30px;
}
.images{
	margin-left:30px;
	margin-right:5%;
	float:right;
}
.tekst{
	margin-left:5%;
	margin-right:2%;
}
img{
	padding-left:25px;
	margin-left:40px; 
}
.images2{
	margin-left:30px;
	margin-right:5%;
}
a{
	color:white;
	padding-left:50px;
	font-size:30px;
}